@import "../../scss/index.scss";

.home{
    &_left{
        
        padding-top: 0!important;
        padding-bottom: 0!important;

    }

    &_right{

        padding-top: 0!important;
        padding-bottom: 0!important;

    }

}
